<svg
	class={$$props.class}
	width="64"
	height="64"
	viewBox="0 0 64 64"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
<g id="surface3">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 60.535156 32 C 60.535156 47.761719 47.761719 60.535156 32 60.535156 C 16.238281 60.535156 3.464844 47.761719 3.464844 32 C 3.464844 16.238281 16.238281 3.464844 32 3.464844 C 47.761719 3.464844 60.535156 16.238281 60.535156 32 Z M 60.535156 32 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(20.392157%,36.470588%,61.568627%);fill-opacity:1;" d="M 32 0 C 14.328125 0 0 14.328125 0 32 C 0 49.671875 14.328125 64 32 64 C 49.671875 64 64 49.671875 64 32 C 64.050781 14.378906 49.808594 0.0507812 32.1875 0 Z M 32.542969 33.085938 L 29.210938 44.320312 L 47.03125 44.320312 C 47.269531 44.3125 47.5 44.398438 47.675781 44.5625 C 47.851562 44.722656 47.953125 44.949219 47.960938 45.1875 L 47.960938 45.480469 L 46.410156 50.828125 C 46.269531 51.347656 45.789062 51.703125 45.25 51.679688 L 17.976562 51.679688 L 22.546875 36.105469 L 17.433594 37.65625 L 18.59375 34.09375 L 23.710938 32.542969 L 30.140625 10.691406 C 30.285156 10.175781 30.765625 9.824219 31.300781 9.839844 L 38.199219 9.839844 C 38.4375 9.832031 38.667969 9.917969 38.84375 10.082031 C 39.019531 10.242188 39.121094 10.46875 39.128906 10.707031 L 39.128906 11.003906 L 33.703125 29.441406 L 38.820312 27.894531 L 37.734375 31.613281 Z M 32.542969 33.085938 "/>
</g>
</svg>
