<svg class={$$props.class} fill="none" xmlns="http://www.w3.org/2000/svg">
	<rect x="28" y="36" width="14" height="34" rx="7" fill="#28F4AF" />
	<g filter="url(#filter0_bii_1301_4588)">
		<path
			d="M31.7284 2.19329C33.399 -0.731095 37.601 -0.731097 39.2716 2.19329L67.4175 51.4647C69.0795 54.3742 66.987 58 63.6459 58H7.35409C4.01296 58 1.9205 54.3742 3.58253 51.4647L31.7284 2.19329Z"
			fill="white"
			fill-opacity="0.1"
		/>
	</g>
	<defs>
		<filter
			id="filter0_bii_1301_4588"
			x="-14"
			y="-17"
			width="99"
			height="92"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feGaussianBlur in="BackgroundImage" stdDeviation="8.5" />
			<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1301_4588" />
			<feBlend
				mode="normal"
				in="SourceGraphic"
				in2="effect1_backgroundBlur_1301_4588"
				result="shape"
			/>
			<feColorMatrix
				in="SourceAlpha"
				type="matrix"
				values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
				result="hardAlpha"
			/>
			<feOffset />
			<feGaussianBlur stdDeviation="2" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0" />
			<feBlend mode="normal" in2="shape" result="effect2_innerShadow_1301_4588" />
			<feColorMatrix
				in="SourceAlpha"
				type="matrix"
				values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
				result="hardAlpha"
			/>
			<feOffset />
			<feGaussianBlur stdDeviation="32" />
			<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
			<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0" />
			<feBlend
				mode="normal"
				in2="effect2_innerShadow_1301_4588"
				result="effect3_innerShadow_1301_4588"
			/>
		</filter>
	</defs>
</svg>
