<svg
	class={$$props.class}
	width="64"
	height="64"
	viewBox="0 0 64 64"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
<g id="surface1">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(15.294118%,45.882353%,79.215686%);fill-opacity:1;" d="M 32 64 C 49.734375 64 64 49.734375 64 32 C 64 14.265625 49.734375 0 32 0 C 14.265625 0 0 14.265625 0 32 C 0 49.734375 14.265625 64 32 64 Z M 32 64 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 40.800781 37.066406 C 40.800781 32.398438 38 30.800781 32.398438 30.132812 C 28.398438 29.601562 27.601562 28.535156 27.601562 26.667969 C 27.601562 24.800781 28.933594 23.601562 31.601562 23.601562 C 34 23.601562 35.332031 24.398438 36 26.398438 C 36.132812 26.800781 36.535156 27.066406 36.933594 27.066406 L 39.066406 27.066406 C 39.601562 27.066406 40 26.667969 40 26.132812 L 40 26 C 39.464844 23.066406 37.066406 20.800781 34 20.535156 L 34 17.332031 C 34 16.800781 33.601562 16.398438 32.933594 16.265625 L 30.933594 16.265625 C 30.398438 16.265625 30 16.667969 29.867188 17.332031 L 29.867188 20.398438 C 25.867188 20.933594 23.332031 23.601562 23.332031 26.933594 C 23.332031 31.332031 26 33.066406 31.601562 33.734375 C 35.332031 34.398438 36.535156 35.199219 36.535156 37.332031 C 36.535156 39.46875 34.667969 40.933594 32.132812 40.933594 C 28.667969 40.933594 27.464844 39.464844 27.066406 37.464844 C 26.933594 36.933594 26.535156 36.667969 26.132812 36.667969 L 23.867188 36.667969 C 23.332031 36.667969 22.933594 37.066406 22.933594 37.601562 L 22.933594 37.734375 C 23.464844 41.066406 25.601562 43.464844 30 44.132812 L 30 47.332031 C 30 47.867188 30.398438 48.265625 31.066406 48.398438 L 33.066406 48.398438 C 33.601562 48.398438 34 48 34.132812 47.332031 L 34.132812 44.132812 C 38.132812 43.464844 40.800781 40.667969 40.800781 37.066406 Z M 40.800781 37.066406 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 25.199219 51.066406 C 14.800781 47.332031 9.464844 35.734375 13.332031 25.464844 C 15.332031 19.867188 19.734375 15.601562 25.199219 13.601562 C 25.734375 13.332031 26 12.933594 26 12.265625 L 26 10.398438 C 26 9.867188 25.734375 9.464844 25.199219 9.332031 C 25.066406 9.332031 24.800781 9.332031 24.667969 9.464844 C 12 13.464844 5.066406 26.933594 9.066406 39.601562 C 11.464844 47.066406 17.199219 52.800781 24.667969 55.199219 C 25.199219 55.464844 25.734375 55.199219 25.867188 54.667969 C 26 54.535156 26 54.398438 26 54.132812 L 26 52.265625 C 26 51.867188 25.601562 51.332031 25.199219 51.066406 Z M 39.332031 9.464844 C 38.800781 9.199219 38.265625 9.464844 38.132812 10 C 38 10.132812 38 10.265625 38 10.535156 L 38 12.398438 C 38 12.933594 38.398438 13.464844 38.800781 13.734375 C 49.199219 17.464844 54.535156 29.066406 50.667969 39.332031 C 48.667969 44.933594 44.265625 49.199219 38.800781 51.199219 C 38.265625 51.464844 38 51.867188 38 52.535156 L 38 54.398438 C 38 54.933594 38.265625 55.332031 38.800781 55.464844 C 38.933594 55.464844 39.199219 55.464844 39.332031 55.332031 C 52 51.332031 58.933594 37.867188 54.933594 25.199219 C 52.535156 17.601562 46.667969 11.867188 39.332031 9.464844 Z M 39.332031 9.464844 "/>
</g>
</svg>
