<script lang="ts">
	import FilterDropdown from './FilterDropdown.svelte';
	import _ from 'lodash';
	import Fuse from 'fuse.js';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';
	import { fade, fly } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	import Section from '$lib/components/Section/Section.svelte';

	import Card from '$lib/components/Card/Card.svelte';
	import CardButton from '$lib/components/Card/CardButton.svelte';
	import CardCategory from '$lib/components/Card/CardCategory.svelte';
	import CardDescription from '$lib/components/Card/CardDescription.svelte';
	import CardTitle from '$lib/components/Card/CardTitle.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';

	import Search from '$lib/icons/Search.svelte';
	import Button from '$lib/components/Button/Button.svelte';
	import SettingConfig from '$lib/icons/SettingConfig.svelte';
	import Close from '$lib/icons/Close.svelte';

	import { appsAndServices } from '$lib/services/constants';
	import type { AppsAndServicesItem } from '$lib/services/interfaces';

	let selectedTags: string[] = [];
	let searchTerm: string = '';

	const matchSearchTerm = (item: AppsAndServicesItem) => {
		if (!searchTerm) {
			return false;
		}

		const fuse = new Fuse([item], {
			keys: ['title', 'description'],
		});

		return fuse.search(searchTerm).map((result) => result.item).length === 1;
	};

	const handleDeleteTagPress = (tag: string) => {
		selectedTags = selectedTags.filter((item) => item !== tag);
	};

	$: filterApplied = selectedTags.length || searchTerm.length;

	$: filteredAppAndServices = appsAndServices.filter((item) => {
		const containsAnySelectedTag = _.intersection(item.tags, selectedTags).length;

		const tagFilter = selectedTags.length > 0 ? containsAnySelectedTag : true;

		const searchFilter = searchTerm.length > 0 ? matchSearchTerm(item) : true;

		return tagFilter && searchFilter;
	});

	onMount(() => {
		const filterParam = $page.url.searchParams.get('filter');
		if (filterParam) {
			selectedTags = [filterParam];
		}
	});

	// Add color mapping for categories
	const categoryColors: { [key: string]: string } = {
		'Explorer': 'border-[#2563EB] hover:border-[#2563EB]/80',    // Blue
		'Dashboard': 'border-[#059669] hover:border-[#059669]/80',   // Green
		'Wallet': 'border-[#7B3FE4] hover:border-[#7B3FE4]/80',     // Purple
		'RUNE': 'border-[#DC2626] hover:border-[#DC2626]/80',       // Red
		'Swaps': 'border-[#D97706] hover:border-[#D97706]/80',      // Orange
		'Savers': 'border-[#0EA5E9] hover:border-[#0EA5E9]/80',     // Sky Blue
		'Marketplace': 'border-[#9333EA] hover:border-[#9333EA]/80', // Violet
		'Maya': 'border-[#16A34A] hover:border-[#16A34A]/80',       // Emerald
		'Dev': 'border-[#4F46E5] hover:border-[#4F46E5]/80',        // Indigo
		'Media': 'border-[#EA580C] hover:border-[#EA580C]/80',      // Orange-red
		'Community': 'border-[#0284C7] hover:border-[#0284C7]/80',   // Light Blue
		'Support': 'border-[#7C3AED] hover:border-[#7C3AED]/80',    // Purple
		'NFT': 'border-[#C026D3] hover:border-[#C026D3]/80',        // Fuchsia
		'Launchpad': 'border-[#E11D48] hover:border-[#E11D48]/80',  // Rose
		'Security': 'border-[#475569] hover:border-[#475569]/80',    // Slate
		'Alerts': 'border-[#B45309] hover:border-[#B45309]/80',     // Amber
		'Other': 'border-[#374151] hover:border-[#374151]/80'       // Gray
	};

	// Helper function to get color class for a tag
	const getTagColor = (tag: string) => {
		return categoryColors[tag] || 'border-[#374151]'; // Default gray if no color defined
	};
</script>

<style>
	.image-container {
		height: 48px;
		width: auto;
		min-width: 48px;
		max-width: 120px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.logo-image {
		height: 100%;
		width: auto;
		
		object-fit: contain;
		transition: transform 0.2s ease;
	}

	.header-section {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		gap: 16px;
		padding-right: 40px;
	}

	.title-section {
		flex: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		min-width: 0;
		overflow: hidden;
	}

	.title-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
	}

	.card-hover {
		position: relative;
		z-index: 2;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		padding: 24px;
		background: linear-gradient(180deg, rgba(26, 26, 26, 0.9) 0%, rgba(20, 20, 20, 0.95) 100%);
		border-radius: 16px;
	}

	.card-hover::before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		border-radius: 16px;
		z-index: -1;
		opacity: 0;
		transition: opacity 0.3s ease;
		animation: gradientBorder 8s ease infinite;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
	}

	.link-button {
		position: absolute;
		top: 24px;
		right: 24px;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.05);
		border: 1px solid rgba(255, 255, 255, 0.1);
		transition: all 0.2s ease;
	}

	.link-button:hover {
		background: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.2);
		transform: translateY(-1px);
	}

	.link-icon {
		width: 16px;
		height: 16px;
		color: rgba(255, 255, 255, 0.9);
	}

	.card-hover:hover {
		transform: translateY(-2px);
		box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	}

	.card-hover:hover::before {
		opacity: 1;
	}

	.filter-container {
		position: relative;
		z-index: 50;
	}

	.tag-pill {
		display: inline-block;
		padding: 4px 12px;
		border-radius: 12px;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.3px;
		transition: all 0.2s ease;
		color: rgba(255, 255, 255, 0.9);
		background: rgba(255, 255, 255, 0.05);
		border-width: 1px;
		border-style: solid;
	}

	.rune-tag {
		position: relative;
		border: none;
	}

	.rune-tag::before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		border-radius: 12px;
		z-index: -1;
		animation: gradientBorder 8s ease infinite;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
	}

	@keyframes gradientBorder {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	.tag-pill:hover {
		background: rgba(255, 255, 255, 0.1);
	}

	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 24px;
		position: relative;
		z-index: 1;
	}

	@media (min-width: 1280px) {
		.card-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.card-hover {
		position: relative;
		z-index: 2;
		backface-visibility: hidden; /* Helps prevent flickering during animations */
		transform: translate3d(0, 0, 0); /* Helps with smoother animations */
	}
</style>

<Section>
	<SectionHeader>Ecosystem Projects</SectionHeader>
	<SectionTitle>{appsAndServices.length} Apps and Services</SectionTitle>

	<div class="grid grid-cols-12 text-white mt-[10px] md:mt-[30px] gap-[10px]">
		<div class="col-span-12 lg:col-span-8 xl:col-span-9 relative shadow-sm h-fit">
			<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
				<div class="h-5 w-5">
					<Search />
				</div>
			</div>
			<input
				bind:value={searchTerm}
				type="text"
				name="email"
				id="email"
				class="bg-medium-gray outline-none h-[52px] ring-0 border-0 block w-full pl-[47px] sm:text-sm border-gray-300 placeholder:text-text-secondary leading-none rounded-[10px]"
				placeholder="Search project..."
			/>
		</div>

		<div class="col-span-12 lg:col-span-4 xl:col-span-3 filter-container">
			<FilterDropdown bind:selectedTags>
				<Button class="h-[52px] w-full bg-medium-gray justify-center items-center border-0">
					<div slot="leading">
						<SettingConfig class="h-5 w-5" />
					</div>
					<div>
						<p class="text-xsmall font-bold">Browse by Category</p>
					</div>
					<div
						class="flex items-center justify-center w-[26px] h-[26px] bg-white rounded-full"
						slot="trailing"
					>
						<p class="text-xsmall text-black">{selectedTags.length}</p>
					</div>
				</Button>
			</FilterDropdown>
		</div>
	</div>

	{#if filterApplied}
		<div class="mt-[30px]">
			<h4 class="mb-[10px] text-d-h4 font-extrabold">{filteredAppAndServices.length} projects</h4>

			<div class="flex space-x-[5px]">
				{#each selectedTags as tag}
					<div class="flex items-center py-[9px] px-[15px] border-[1px] border-green">
						{tag}

						<div
							class="ml-[10px] h-3 w-3 text-text-secondary cursor-pointer"
							on:click={() => handleDeleteTagPress(tag)}
						>
							<Close />
						</div>
					</div>
				{/each}
			</div>
		</div>
	{/if}

	<div class="card-grid mt-[30px]">
		{#each filteredAppAndServices as service (service.title)}
			<div
				in:fly={{ y: 20, duration: 400, delay: 200 }}
				out:fade={{ duration: 400 }}
				animate:flip={{ duration: 500 }}
				class="card-hover transition-all duration-300"
			>
				<a 
					href={service.url} 
					target="_blank" 
					rel="noopener noreferrer"
					class="link-button"
					>
					<svg 
						class="link-icon" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round"
					>
						<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
						<polyline points="15 3 21 3 21 9" />
						<line x1="10" y1="14" x2="21" y2="3" />
					</svg>
				</a>

				<div class="flex flex-col h-full">
					<div class="header-section">
						<div class="image-container">
							<img class="logo-image" src={service.logo} alt={service.title} />
						</div>
						<div class="title-section">
							<h3 class="text-xl font-bold text-white title-text">{service.title}</h3>
						</div>
					</div>
					
					<div class="flex flex-wrap gap-2 mb-4">
						{#each service.tags as tag}
							<span class="tag-pill {tag === 'RUNE' ? 'rune-tag' : ''} {getTagColor(tag)}">{tag}</span>
						{/each}
					</div>

					<p class="text-[#9CA3AF] text-sm leading-relaxed">
						{service.description}
					</p>
				</div>
			</div>
		{/each}
	</div>
	
</Section>
