<script lang="ts">
	import { Menu, MenuButton, MenuItems, Transition } from '@rgossiaux/svelte-headlessui';
	import _ from 'lodash';

	import Search from '$lib/icons/Search.svelte';
	import { appsAndServices } from '$lib/services/constants';

	let searchTerm: string;
	export let selectedTags: string[];

	const allTags = appsAndServices.map((app) => app.tags);
	const flattenTags = _.flattenDeep(allTags);
	const tags = _.uniq(flattenTags).map((tag) => {
		const count = flattenTags.filter((item) => item === tag).length;

		return {
			name: tag,
			count,
		};
	});

	const handleToggleCategory = (tag: string) => {
		if (selectedTags.includes(tag)) {
			selectedTags = selectedTags.filter((item) => item !== tag);
			return;
		}

		selectedTags.push(tag);
		selectedTags = selectedTags;
	};

	$: filteredTags = tags.filter((item) =>
		searchTerm ? item.name.toLowerCase().startsWith(searchTerm.toLowerCase()) : true,
	);

	const categoryColors: { [key: string]: string } = {
		'Explorer': 'bg-[#2563EB]/10 hover:bg-[#2563EB]/20',
		'Dashboard': 'bg-[#059669]/10 hover:bg-[#059669]/20',
		'Wallet': 'bg-[#7B3FE4]/10 hover:bg-[#7B3FE4]/20',
		'RUNE': 'bg-[#DC2626]/10 hover:bg-[#DC2626]/20',
		'Swaps': 'bg-[#D97706]/10 hover:bg-[#D97706]/20',
		'Savers': 'bg-[#0EA5E9]/10 hover:bg-[#0EA5E9]/20',
		'Marketplace': 'bg-[#9333EA]/10 hover:bg-[#9333EA]/20',
		'Maya': 'bg-[#16A34A]/10 hover:bg-[#16A34A]/20',
		'Dev': 'bg-[#4F46E5]/10 hover:bg-[#4F46E5]/20',
		'Media': 'bg-[#EA580C]/10 hover:bg-[#EA580C]/20',
		'Community': 'bg-[#0284C7]/10 hover:bg-[#0284C7]/20',
		'Support': 'bg-[#7C3AED]/10 hover:bg-[#7C3AED]/20',
		'NFT': 'bg-[#C026D3]/10 hover:bg-[#C026D3]/20',
		'Launchpad': 'bg-[#E11D48]/10 hover:bg-[#E11D48]/20',
		'Security': 'bg-[#475569]/10 hover:bg-[#475569]/20',
		'Alerts': 'bg-[#B45309]/10 hover:bg-[#B45309]/20',
		'Other': 'bg-[#374151]/10 hover:bg-[#374151]/20'
	};

	const getTagBackground = (tag: string) => {
		return categoryColors[tag.name] || 'bg-[#374151]/10 hover:bg-[#374151]/20';
	};
</script>

<Menu let:open as="div" class="relative inline-block text-left">
	<MenuButton class="w-full">
		<slot />
	</MenuButton>

	<Transition
		class="relative z-50"
		show={open}
		enter="transition ease-out duration-100"
		enterFrom="transform opacity-0 scale-95"
		enterTo="transform opacity-100 scale-100"
		leave="transition ease-in duration-75"
		leaveFrom="transform opacity-100 scale-100"
		leaveTo="transform opacity-0 scale-95"
	>
		<MenuItems
			class="bg-medium-gray p-5 mt-4 origin-top-right absolute right-0 w-full md:w-[335px] rounded-xl border border-[rgba(255,255,255,0.1)] shadow-lg backdrop-blur-xl"
		>
			<div class="relative mb-4">
				<div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-[#9CA3AF]">
					<div class="h-5 w-5">
						<Search />
					</div>
				</div>
				<input
					type="text"
					name="filter"
					id="filter"
					class="bg-[rgba(255,255,255,0.05)] outline-none h-[52px] ring-0 block w-full pl-12 text-sm text-white border border-[rgba(255,255,255,0.1)] rounded-xl placeholder:text-[#9CA3AF] focus:border-[rgba(255,255,255,0.2)] transition-colors"
					placeholder="Filter categories..."
					bind:value={searchTerm}
				/>
			</div>

			<div class="space-y-2 max-h-[300px] overflow-y-auto custom-scrollbar">
				{#each filteredTags as tag}
					<div 
						class={`flex items-center p-3 rounded-lg transition-all duration-200 ${getTagBackground(tag)}`}
					>
						<input
							id={tag.name}
							name={tag.name}
							type="checkbox"
							checked={selectedTags.includes(tag.name)}
							class="form-checkbox mr-3 h-4 w-4 rounded-md border-[rgba(255,255,255,0.2)] bg-[rgba(255,255,255,0.05)] 
								   checked:bg-gradient-to-r checked:from-[#03CFFA] checked:to-[#31FD9D] 
								   focus:ring-1 focus:ring-[#31FD9D] focus:ring-offset-0 focus:ring-offset-transparent
								   transition-all duration-200 cursor-pointer"
							on:change={() => handleToggleCategory(tag.name)}
						/>

						<label for={tag.name} class="flex-1 text-sm font-medium text-white cursor-pointer">
							{tag.name}
						</label>

						<span class="text-sm font-medium" style="color: {tag.name === 'RUNE' ? '#31FD9D' : '#9CA3AF'}">
							{tag.count}
						</span>
					</div>
				{/each}
			</div>
		</MenuItems>
	</Transition>
</Menu>

<style>
	.custom-scrollbar {
		scrollbar-width: thin;
		scrollbar-color: rgba(255,255,255,0.1) transparent;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 6px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: rgba(255,255,255,0.1);
		border-radius: 3px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255,255,255,0.2);
	}

	/* Style for checkbox focus state */
	input[type="checkbox"]:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(49, 253, 157, 0.2);
	}

	/* Custom checkbox styles */
	.form-checkbox {
		appearance: none;
		-webkit-appearance: none;
		padding: 0;
	}

	.form-checkbox:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		border-color: transparent;
	}

	.form-checkbox:checked:hover {
		filter: brightness(110%);
	}

	.form-checkbox:indeterminate {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
		border-color: transparent;
	}

	/* Improve focus visibility */
	.form-checkbox:focus-visible {
		outline: 2px solid rgba(49, 253, 157, 0.5);
		outline-offset: 2px;
	}

	/* Disable default focus styles */
	.form-checkbox:focus {
		outline: none;
		box-shadow: none;
	}
</style>
