<script>
  import CardButton from "$lib/components/Card/CardButton.svelte";
</script>

<style>
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .button-container a {
    flex: 1 1 30%; 
    text-align: start; 
    margin: 10px; 
  }
</style>

<div class="col-span-2">
  <p class="font-medium text-normal lg:text-d-lead text-text-primary mt-[20px]">New features and primitives undergo extensive research, design, and debate by the community and are subject to THORChain's node governance processes. New blockchains are connected periodically.</p>
  <br>
  <div class="button-container">

    <a href="https://medium.com/thorchain/thorchain-ecosystem-q4-23-report-2024-roadmap-1290fde4afa0" target="_blank" rel="noopener noreferrer">
      <CardButton>2024 Look Ahead</CardButton>
    </a>

        <a href="https://medium.com/thorchain/thorchain-q3-2024-ecosystem-report-1b048fe55141" target="_blank" rel="noopener noreferrer">
      <CardButton>Q3 2024 Ecosystem Report</CardButton>
    </a>
  </div>
</div>
