<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';
	import CardButton from '../Card/CardButton.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Trade Accounts</SectionHeader>
	<SectionTitle>Pro Trader Tools</SectionTitle>
	<SectionDescription>
		In addition to cross-chain swaps, THORChain offers Trade Assets for the fast, efficient, and cheap
		trading of assets on any supported network.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/time-is-money.png" alt="tree" />
			<CardTitle>Fast Transactions</CardTitle>
			<CardDescription>
				Trade Assets are pegged to the price of the corresponding native asset - built for high frequency traders. Trade at the speed and finality of THORChain block times. 
				<a href="https://dev.thorchain.org/concepts/trade-accounts.html" target="_blank" rel="noopener noreferrer"><CardButton>Learn More</CardButton>
			</CardDescription>
		</Card>

		<Card>
			<img width="70px" height="70px" src="/images/icons/analysis.png" alt="tree" />
			<CardTitle>Seamless Entry and Exit</CardTitle>
			<CardDescription>Mint or redeem a trade asset with no slippage. Trade Assets are the most efficient way to trade on a DEX. Settle to Layer 1 at any time.</CardDescription>
		</Card>

		<Card>
			<img width="70px" height="70px" src="/images/icons/product.png" alt="tree" />
			<CardTitle>Secured by THORChain</CardTitle>
			<CardDescription>
				Trade assets are secured by native assets that are secured by THORChain's decentralised validator set. Trade assets are held outside the liqudiity pools and are always fully backed.
			</CardDescription>
		</Card>
	</div>
</Section>
