<script>
	import { onMount } from 'svelte';

	let chains = [
		//when a new chain is added, import the name and color here
		{ id: 'Bitcoin', color: '#f2a900' },
		{ id: 'Ethereum', color: '#716b94' },
		{ id: 'BNB-Chain', color: '#F0B90B' },
		{ id: 'Avalanche', color: '#E84142' },
		{ id: 'Cosmos-Hub', color: '#5064fb' },
		{ id: 'Dogecoin', color: '#e1b303' },
		{ id: 'Bitcoin-Cash', color: '#0AC18E' },
		{ id: 'Litecoin', color: '#345d9d' },
		{ id: 'Base', color: '#0052FF' },
	];

	// Convert hex colors to RGB for smooth transitions
	chains = chains.map(chain => {
		const hex = chain.color.replace('#', '');
		const r = parseInt(hex.substring(0, 2), 16);
		const g = parseInt(hex.substring(2, 4), 16);
		const b = parseInt(hex.substring(4, 6), 16);
		return {
			...chain,
			originalColor: chain.color,
			rgb: { r, g, b }
		};
	});

	let currentChainIndex = 0;

	onMount(() => {
		const interval = setInterval(() => {
			currentChainIndex = (currentChainIndex + 1) % chains.length;
		}, 5000);

		return () => {
			clearInterval(interval);
		};
	});
</script>

<p class="font-bold text-small lg:text-d-lead text-text-primary">
    THORChain is a network that facilitates native asset settlement between 
    {#each chains as chain, i (chain.id)}
        {#if i !== 0 && i !== chains.length - 1}
            <span>, </span>
        {/if}
        {#if i === chains.length - 1}
            <span>& </span>
        {/if}
        <span 
            class="chain" 
            style="
                --chain-color: {chain.originalColor}; 
                --chain-color-r: {chain.rgb.r}; 
                --chain-color-g: {chain.rgb.g}; 
                --chain-color-b: {chain.rgb.b};
                --active: {i === currentChainIndex ? 1 : 0}"
        >
            {chain.id.charAt(0).toUpperCase() + chain.id.slice(1).replace('-', ' ')}
        </span>
    {/each}
    <span></span>
</p>

<style>
    .chain {
        position: relative;
        transition: all 0.3s ease-out;
        padding-bottom: 2px;
        color: rgb(
            calc(255 * (1 - var(--active)) + var(--chain-color-r) * var(--active)),
            calc(255 * (1 - var(--active)) + var(--chain-color-g) * var(--active)),
            calc(255 * (1 - var(--active)) + var(--chain-color-b) * var(--active))
        );
    }

    .chain::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--chain-color);
        transform: scaleX(var(--active));
        opacity: var(--active);
        transition: all 0.3s ease-out;
    }
</style>



