<script lang="ts">
	import cx from 'classnames';

	export let gradient = false;
	export let disabled = false;

	$: classNames = cx(
		'button-hover-effect flex py-[15px] px-[25px] font-extrabold border-[1px] border-text-teriary text-text-primary space-x-[14px] hover:scale-105 transform transition duration-250',
		$$props.class,
		{ 'text-black green-gradient-background border-0': gradient },
		{ 'text-text-teriary border-gray hover:border-gray': disabled },
	);
</script>

<button on:click {disabled} class={classNames}>
	{#if $$slots.leading}
		<slot class="border" name="leading" />
	{/if}

	{#if $$slots.default}
		<div>
			<slot />
		</div>
	{/if}

	{#if $$slots.trailing}
		<div>
			<slot name="trailing" />
		</div>
	{/if}
</button>

<style>
	.green-gradient-background {
		background: #2cbe8c;
	}
	
	button {
		border-radius: 5px;
		position: relative;
		transition: transform 0.3s ease-in-out;
	}

	.button-hover-effect::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		border-radius: 7px;
		z-index: -1;
		opacity: 0;
		animation: gradientBorder 8s ease infinite;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 2px;
		transition: opacity 0.3s ease-in-out;
	}

	.button-hover-effect:hover::before {
		opacity: 1;
	}

	.green-gradient-background::before {
		display: none;
	}

	@keyframes gradientBorder {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
