<script>
	import Gitlab from '$lib/icons/Gitlab.svelte';
	import Medium from '$lib/icons/Medium.svelte';
	import Telegram from '$lib/icons/Telegram.svelte';
	import Twitter from '$lib/icons/Twitter.svelte';
	import Gitbook from '$lib/icons/Gitbook.svelte';
</script>

<div
	class="pt-[36px] lg:pt-[80px] pb-[40px] lg:pb-[60px] sm:p-[5px] space-y-[25px] lg:space-y-[80px] border-t-[1px] border-medium-gray"
>
	<div class="flex flex-wrap gap-y-[25px] lg:gap-y-[50px]">
		<div class="flex flex-col w-1/2 sm:w-1/4 md:w-1/4 lg:1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">THORChain</p>

			<div
				class="flex flex-col space-y-[10px]  mt-[15px] lg:mt-[28px] text-xxsmall sm:text-xsmall md:text-small text-text-secondary"
			>
				<a href="https://docs.thorchain.org/" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">
					Documentation
				</a>
				<a
					href="https://github.com/thorchain/Resources/tree/master/Whitepapers"
					target="_blank"
					rel="noopener noreferrer"
					class="hover:text-white hover:scale-105 transform transition duration-250"
				>
					Whitepapers
				</a>
				<a
					href="https://thorchain.net"
					target="_blank"
					rel="noopener noreferrer"
					class="hover:text-white hover:scale-105 transform transition duration-250"
				>
					Dashboard
				</a>
				<a
				href="https://github.com/thorchain/Resources/tree/master/Audits"
				target="_blank"
				rel="noopener noreferrer"
				class="hover:text-white hover:scale-105 transform transition duration-250"
			>
				Audits
			</a>
				<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">Medium</a>
			</div>
		</div>

		<div class="flex flex-col w-1/2 sm:w-1/4 md:w-1/4 lg:1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">Develop</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] text-xxsmall sm:text-xsmall md:text-small md:text-small text-text-secondary"
			>
				<a
					href="https://dev.thorchain.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="hover:text-white hover:scale-105 transform transition duration-250"
				>
					Documentation
				</a>
				<a
					href="https://docs.thorchain.org/thornodes/overview"
					target="_blank"
					rel="noopener noreferrer"
					class="hover:text-white hover:scale-105 transform transition duration-250"
				>
					Node Operators
				</a>
				
				<a href="https://discord.gg/tW64BraTnX" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">
					Dev Discord
				</a>
				<a href="https://immunefi.com/bounty/thorchain/" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">
					Bug Bounties
				</a>
				<a href="https://xchainjs.org" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">
					XChainJS
				</a>
			</div>
		</div>

		<div class="flex flex-col w-1/2 sm:w-1/4 md:w-1/4 lg:1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">Community</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] text-xxsmall sm:text-xsmall md:text-small text-text-secondary"
			>
			
			<a href="https://linktr.ee/thorchain" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">Linktree</a>
			<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">Twitter</a>
			<a href="https://discord.gg/c4EhDZdFMA" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">
					THORChain University
				</a>
				<a href="https://www.twitter.com/ninerealms_cap" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">Nine Realms</a>
				<a
					href="https://www.youtube.com/grassrootscrypto"
					target="_blank"
					rel="noopener noreferrer"
					class="hover:text-white hover:scale-105 transform transition duration-250"
				>
					GRC Videos
				</a>
			</div>
		</div>

		<div class="flex flex-col w-1/2 sm:w-1/4 md:w-1/4 lg:1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">Explorers
			</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] xs: text-xxsmall sm:text-xsmall md:text-small text-text-secondary"
			>
			<a href="https://runescan.io" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">RuneScan</a>	
			<a href="https://thorchain.net" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">Thorchain.net</a>			
				<a href="https://rune.tools" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">RUNE Tools</a>
				<a href="https://thorcharts.org" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">THORCharts</a>
				<a href="https://t.me/thor_infobot" target="_blank" rel="noopener noreferrer" class="hover:text-white hover:scale-105 transform transition duration-250">Infobot</a>
			</div>
		</div>
	</div>

	<div class="flex flex-wrap gap-y-[25px] justify-between text-text-teriary">
		<p class="text-xsmall">All THORChain brand is public domain. No rights reserved.</p>

		<div class="flex items-center space-x-[20px] order-first sm:order-1">
			<a href="https://docs.thorchain.org" target="_blank" rel="noopener noreferrer">
				<Gitbook class="w-5 h-5 hover:text-white hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://gitlab.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Gitlab class="w-5 h-5 hover:text-white hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Medium class="w-5 h-5 hover:text-white hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
				<Telegram class="w-5 h-5 hover:text-white hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Twitter class="w-5 h-5 hover:text-white hover:scale-105 transform transition duration-250" />
			</a>
		</div>
	</div>
</div>
