<script lang="ts">
	import Button from '$lib/components/Button/Button.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
</script>

<Section>
	<SectionHeader>Powering THORSwap</SectionHeader>
	<img src="/images/services/swapkithorizontal.svg" alt="Powering THORSwap" class="swapkit"/>

	<div
		class="flex items-center flex-col lg:flex-row xl:flex-row justify-center gap-4 mt-[30px] md:mt-[40px]"
	>
		<div class="flex-1 text-center lg:text-left space-y-[20px]">
			<div class="text-center lg:text-left space-y-[20px]">
				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					SwapKit offers a composable, user-friendly API+SDK that makes THORChain integration easy - empowering any dApp to go multi-chain in less than 100 lines of code.
				</p>
				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					SwapKit comes with the benefits of streamlined affiliate fees, improved quotes & gas pricing, robust wallet connectivity, and DEX aggregation enabling swaps between 5,500+ crypto assets across 10 blockchains in a single transaction.
				</p>

				<p class="font-normal text-small lg:text-d-lead text-text-primary">
					Abstract the complexity and optimize your THORChain integration with SwapKit's battle-tested infrastructure for cost-effective, enterprise-level performance.
				</p>
			</div>
			<br>
		<a
			href="https://swapkit.dev/"
			target="_blank"
			rel="noopener noreferrer"
		>
		<Button class="justify-center px-[70px] py-[15px] w-full" gradient>Get Started</Button>
		</a>
		</div>

		<div class="flex-1 justify-content-right">
			<img src="/images/services/swapkit-sdk.png" alt="SwapKit SDK" class="swapkit-2"/>
		</div>
	</div>
</Section>

<style>
	.swapkit{
		max-width: 50%;
		margin: auto; /* Centers the element horizontally if its width is less than the max-width */
		display: block; /* Ensures the margin property works correctly */
		padding-top: 1em
	}

	.swapkit-2{
		max-width: 75%;
		margin: auto; /* Centers the element horizontally if its width is less than the max-width */
		display: block; /* Ensures the margin property works correctly */
		padding-top: 1em
	}
	</style>
	
