<script>
import cx from 'classnames';
import Card from '../Card/Card.svelte';
import CardButton from '../Card/CardButton.svelte';
import CardCategory from '../Card/CardCategory.svelte';
import CardDescription from '../Card/CardDescription.svelte';
import CardTitle from '../Card/CardTitle.svelte';

export let buttonText;
export let title;
export let category;
export let description;
export let href = '#';
export let categoryClass = 'text-light-blue';
export let logo = '';
export let logoSize = 'medium';

$: classNames = cx(
    'w-full flex',
);

$: categoryClasses = cx(categoryClass);
</script>

<div class="card-container">
    <div class="card-hover-effect">
        <Card class={classNames}>
            <div class="card-content">
                <CardCategory class={categoryClasses}>{category}</CardCategory>
                <div class="title-logo-container">
                    {#if logo}
                    <div class="logo-column {logoSize}">
                        <img src={logo} alt="{title} Logo" class="card-logo"/>
                    </div>
                    {/if}
                    <div class="title-column">
                        <CardTitle size="large">{title}</CardTitle>
                    </div>
                </div>
                {#if description}
                    <CardDescription>{description}</CardDescription>
                {/if}
                <div class="button-container">
                    <a {href} target="_blank" rel="noopener noreferrer">
                        <CardButton gradient={false}>{buttonText}</CardButton>
                    </a>
                </div>
            </div>
        </Card>
    </div>
</div>

<style>
.card-container {
    position: relative;
    border-radius: 0.5rem;
    height: 100%;
}

.card-hover-effect {
    position: relative;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.card-hover-effect::before {
    content: '';
    position: absolute;
    inset: -2px;
    background: linear-gradient(45deg, #00CCBB, #3399FF, #00CCBB, #3399FF);
    background-size: 400% 400%;
    border-radius: 0.5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: gradientBorder 3s ease infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 2px;
}

.card-hover-effect:hover::before {
    opacity: 1;
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo-column {
    flex: 0 0 auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-column.small .card-logo {
    max-width: 40px;
    max-height: 40px;
}

.logo-column.medium .card-logo {
    max-width: 60px;
    max-height: 60px;
}

.logo-column.large .card-logo {
    max-width: 80px;
    max-height: 80px;
}

.card-logo {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.title-column {
    flex: 1;
    display: flex;
    align-items: center;
}

.button-container {
    margin-top: auto;
}
</style>
