<script lang="ts">
	import 'swiper/css';
	import 'swiper/css/autoplay';
	
	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	import { usePoolData } from '$lib/services/queries';

	const tradeTableQuery = usePoolData();

	$: tradeTableData = $tradeTableQuery.data;
	$: tradeTableIsLoading = $tradeTableQuery.isLoading;

	let innerWidth = 0;

	$: swipePerView = innerWidth > 1280 ? 6 : 
	                  innerWidth > 1024 ? 5 : 
	                  innerWidth > 768 ? 4 : 
	                  innerWidth > 640 ? 3 : 
	                  innerWidth > 420 ? 2 : 1;

	const swiperOptions = {
		delay: 0,
		disableOnInteraction: false,
		pauseOnMouseEnter: true
	};

	const chainColors: Record<string, string> = {
		'BTC': '#f2a900',
		'ETH': '#716b94',
		'BSC': '#F0B90B',
		'AVAX': '#E84142',
		'ATOM': '#5064fb',
		'DOGE': '#e1b303',
		'BCH': '#0AC18E',
		'LTC': '#345d9d'
	};

	function getAssetColor(assetName: string): string {
		const baseAsset = assetName.split('.')[0];
		return chainColors[baseAsset] || 'currentColor'; // fallback to current color if no match
	}

	export let usePrice = true;
</script>

<svelte:window bind:innerWidth />

{#if !tradeTableIsLoading}
	<div class="mt-[40px] w-full bg-gradient-to-r from-black/20 via-black/10 to-black/20 backdrop-blur-sm border-t border-b border-white/10">
		<Swiper
			modules={[Autoplay]}
			slidesPerView={swipePerView}
			autoplay={swiperOptions}
			loop={true}
			speed={15000}
			spaceBetween={8}
			allowTouchMove={false}
			preventInteractionOnTransition
			cssMode={false}
			watchSlidesProgress={true}
			className="!overflow-hidden"
		>
			{#each tradeTableData as asset}
				{#if usePrice || (!usePrice && +asset.saversAPR > 1)}
					<SwiperSlide class="!w-auto">
						<div class="px-2 py-1.5 whitespace-nowrap">
							{#if usePrice}
								<span class="text-sm" style="color: {getAssetColor(asset.name)}">{asset.name}:</span>
								<span class="font-bold text-green-400 text-sm drop-shadow-[0_0_10px_rgba(74,222,128,0.2)]">{asset.priceUSD}</span>
							{:else}
								<span class="text-sm" style="color: {getAssetColor(asset.name)}">{asset.name.split('.')[0]} APR:</span>
								<span class="font-bold text-green-400 text-sm drop-shadow-[0_0_10px_rgba(74,222,128,0.2)]">{asset.saversAPR}%</span>
							{/if}
						</div>
					</SwiperSlide>
				{/if}
			{/each}
		</Swiper>
	</div>
{/if}
