<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import { useRuneMetrics, useVaultAssets } from '$lib/services/queries';
	import { formatNumber } from '$lib/services/helpers';
	import Button from '../Button/Button.svelte';
	import MetricData from '../Metric/MetricData.svelte';
	import MetricTitle from '../Metric/MetricTitle.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
	import Avalanche from '$lib/icons/Avalanche.svelte';
	import Litecoin from '$lib/icons/Litecoin.svelte';
	import CosmosHub from '$lib/icons/CosmosHub.svelte';
	import Ethereum from '$lib/icons/Ethereum.svelte';
	import BNB from '$lib/icons/BNB.svelte';
	import Bitcoin from '$lib/icons/Bitcoin.svelte';
	import BitcoinCash from '$lib/icons/BitcoinCash.svelte';
	import Doge from '$lib/icons/Doge.svelte';
	import { slide } from 'svelte/transition';

	const runeMetricsQuery = useRuneMetrics();
	const vaultAssetsQuery = useVaultAssets();

	$: runeMetrics = $runeMetricsQuery.data;
	$: vaultAssets = $vaultAssetsQuery.data;
	$: isLoading = $runeMetricsQuery.isLoading || $vaultAssetsQuery.isLoading;

	// Sort vault assets by USD value
	$: sortedAssets = vaultAssets?.assetBalances.sort((a, b) => b.usdValue - a.usdValue) ?? [];

	// Extract numeric values for comparison
	$: totalBondedUSD = runeMetrics?.totalBondedRune ? 
		Number(runeMetrics.totalBondedRune.replace(/[^0-9.]/g, '')) : 0;
	$: totalPooledUSD = runeMetrics?.totalPooledRune ? 
		Number(runeMetrics.totalPooledRune.replace(/[^0-9.]/g, '')) : 0;
	$: totalSecuredUSD = vaultAssets?.totalUsdValue || 0;

	$: chainGroups = sortedAssets.reduce((acc, asset) => {
		if (!acc[asset.chain]) {
			acc[asset.chain] = {
				totalUsdValue: 0,
				assets: []
			};
		}
		acc[asset.chain].totalUsdValue += asset.usdValue;
		acc[asset.chain].assets.push(asset);
		return acc;
	}, {} as Record<string, {
		totalUsdValue: number;
		assets: typeof sortedAssets;
	}>);

	function formatAssetName(asset: string) {
		const [chain, token] = asset.split('.');
		
		// Handle native assets (e.g., BTC.BTC, ETH.ETH)
		if (token === chain) {
			return token;
		}
		
		// Handle synths and tokens (e.g., AVAX.USDC-0XB97EF9EF8734C71904D8002F)
		const baseToken = token.split('-')[0];
		return baseToken;
	}

	function getChainLogo(chain: string) {
		const logos: Record<string, any> = {
			'AVAX': Avalanche,
			'BSC': BNB,
			'BTC': Bitcoin,
			'BCH': BitcoinCash,
			'DOGE': Doge,
			'LTC': Litecoin,
			'GAIA': CosmosHub,
			'ETH': Ethereum
		};
		return logos[chain];
	}

	let expandedRows: Record<number, boolean> = {};

	function getRowNumber(index: number) {
		return Math.floor(index / 3); // 3 columns per row
	}

	function toggleRow(index: number) {
		const rowNumber = getRowNumber(index);
		expandedRows[rowNumber] = !expandedRows[rowNumber];
	}
</script>

<style>
	.chain-card {
		position: relative;
		transition: transform 0.3s ease-in-out;
	}

	.chain-card::before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		border-radius: 10px;
		z-index: -1;
		opacity: 0;
		animation: gradientBorder 8s ease infinite;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
		transition: opacity 0.3s ease-in-out;
	}

	.chain-card:hover::before {
		opacity: 1;
	}

	.chain-card:hover {
		transform: scale(1.02);
	}

	@keyframes gradientBorder {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>

<Section>
	<SectionHeader>METRICS</SectionHeader>
	<SectionTitle>RUNE Value</SectionTitle>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-y-[50px] lg:gap-[50px] mt-[30px] md:mt-[40px]">
		<div class="text-center lg:text-left space-y-[20px]">
			<p class="font-bold text-small lg:text-d-lead text-text-secondary">
				RUNE's price is determined by the network's liquidity. All native assets are paired 1:1 with RUNE in liquidity pools.
			</p>
			<p class="font-normal text-small lg:text-d-lead text-text-secondary">
				Validators bond RUNE to the network, further collateralizing the native assets secured by the network.
			</p>
			<p class="font-normal text-small lg:text-d-lead text-text-secondary">
				For every $1 of non-RUNE value in the liquidity pools, there is $1 of RUNE in the liquidity pools and $2 of RUNE bonded by validators, creating hard economic security & incentive alignment.
			</p>
		</div>

		<div class="col-span-2 border-[1px] border-gray py-10 px-10 h-min rounded-lg">
			<div class:animate-pulse={isLoading} class="grid grid-cols-1 sm:grid-cols-2 gap-[30px]">
				<div>
					<MetricTitle>MARKET CAP</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.marketCap}</MetricData>
				</div>
				<div>
					<MetricTitle>RUNE PRICE</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.runePriceUSD}</MetricData>
				</div>
				<div>
					<MetricTitle>TOTAL RUNE POOLED</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.totalPooledRune}</MetricData>
				</div>
				<div>
					<MetricTitle>TOTAL RUNE BONDED</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.totalBondedRune}</MetricData>
				</div>
				<div>
					<MetricTitle>CIRCULATING SUPPLY</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.circulatingSupply}</MetricData>
				</div>
				<div>
					<MetricTitle>TOTAL SUPPLY</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.totalSupply}</MetricData>
				</div>
			</div>

			<div class="flex col-span-2 lg:col-span-1 xl:block w-full mt-[20px] md:mt-[30px]">
				<a href="/ecosystem?filter=Swaps" class="w-full">
					<Button class="flex-1 xl:block xl:w-[230px] font-bold text-small text-black text-center align-middle justify-center w-full" gradient>
						Trade RUNE
					</Button>
				</a>
			</div>
		</div>
	</div>

	<div class="mt-[50px] mb-[50px]">
		<SectionTitle>Economic Security</SectionTitle>
		<p class="text-text-secondary mt-4 mb-8 text-center">
			THORChain's economically secures native assets by having validators stake RUNE and pairing every asset with RUNE in the liquidity pools		</p>

		<div class="border-[1px] border-gray p-8 rounded-lg">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				<div class="text-center">
					<MetricTitle>NATIVE ASSET VALUE SECURED</MetricTitle>
					<MetricData loading={isLoading}>
						${formatNumber(vaultAssets?.totalUsdValue)}
					</MetricData>
					<div class="mt-2 text-sm text-text-secondary">
						Native assets in THORChain's vaults
					</div>
				</div>

				<div class="text-center">
					<MetricTitle>TOTAL RUNE BONDED</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.totalBondedRune}</MetricData>
					<div class="mt-2 text-sm text-text-secondary">
						Economic security bonded by validators
					</div>
				</div>

				<div class="text-center">
					<MetricTitle>TOTAL RUNE POOLED</MetricTitle>
					<MetricData loading={isLoading}>{runeMetrics?.totalPooledRune}</MetricData>
					<div class="mt-2 text-sm text-text-secondary">
						RUNE liquidity paired with native assets
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-[50px]">
		<div class="flex justify-center">
			<div class="flex flex-wrap justify-center gap-6 max-w-[1200px]">
				{#each Object.entries(chainGroups) as [chain, data], index}
					<div 
						class="chain-card border-[1px] border-gray p-6 rounded-lg w-[calc(100%-1.5rem)] sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)]"
					>
						<button 
							class="w-full" 
							on:click={() => toggleRow(index)}
						>
							<div class="flex items-center justify-between">
								<div class="flex items-center gap-2">
									{#if getChainLogo(chain)}
										{#if typeof getChainLogo(chain) === 'string'}
											<img 
												src={getChainLogo(chain)} 
												alt={`${chain} logo`} 
												class="w-6 h-6"
											/>
										{:else}
											<svelte:component 
												this={getChainLogo(chain)} 
												class="w-6 h-6" 
											/>
										{/if}
									{/if}
									<span class="text-lg font-bold">{chain}</span>
								</div>
								<div class="flex items-center gap-4">
									<div class="text-sm text-text-secondary">
										${formatNumber(data.totalUsdValue)}
									</div>
									<svg 
										class={`w-4 h-4 transform transition-transform ${expandedRows[getRowNumber(index)] ? 'rotate-180' : ''}`}
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
									>
										<path d="M19 9l-7 7-7-7" />
									</svg>
								</div>
							</div>
						</button>
						
						{#if expandedRows[getRowNumber(index)]}
							<div 
								class="space-y-2"
								transition:slide={{ duration: 200 }}
							>
								<div class="mt-4 border border-gray/50 rounded-lg p-4 bg-gray/5">
									<div class="text-sm text-text-secondary mb-2">Assets:</div>
									<div class="space-y-2">
										{#each data.assets as asset}
											{#each asset.tokens as token}
												<div class="flex justify-between text-sm">
													<span>{token.amount.toLocaleString('en-US', { maximumFractionDigits: 4 })} {formatAssetName(token.asset)}</span>
													<span class="text-text-secondary">${formatNumber(token.usdValue)}</span>
												</div>
											{/each}
										{/each}
									</div>
								</div>
							</div>
						{/if}
					</div>
				{/each}
			</div>
		</div>
	</div>
</Section>
