<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx('flex-1 font-medium text-small text-text-secondary mt-[10px]', $$props.class);
</script>

<div class={classNames}>
	<slot />
</div>
