<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx(
		'flex flex-col overflow-hidden border-[1px] border-gray rounded-lg p-[25px] lg:p-[30px] h-full',
		$$props.class,
	);
</script>

<div class={classNames}>
	<slot />
</div>
