<script lang="ts">
	import Gitlab from '$lib/icons/Gitlab.svelte';
	import Medium from '$lib/icons/Medium.svelte';
	import Telegram from '$lib/icons/Telegram.svelte';
	import Twitter from '$lib/icons/Twitter.svelte';
	import Gitbook from '$lib/icons/Gitbook.svelte';

	import { formatNumber } from '../../services/helpers';
	import { formatNumberTwoDecimal } from '../../services/helpers';
	import Links from '$lib/components/Header/Links.svelte';
	import { useRunePrice } from '$lib/services/queries';

	const runePriceQuery = useRunePrice();

	$: runePrice = $runePriceQuery.data;
	$: formattedRunePrice = runePrice ? formatNumberTwoDecimal(runePrice) : '0.00';
</script>

<style>
	.price-button {
		position: relative;
		transition: transform 0.3s ease-in-out;
	}

	.price-button::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		background: #31FD9D;
		border-radius: 10px;
		z-index: -1;
		opacity: 1;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 2px;
		transition: background 0.3s ease-in-out;
	}

	.price-button:hover::before {
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		animation: gradientBorder 8s ease infinite;
	}

	@keyframes gradientBorder {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>

<div class="hidden xl:block">
	<div class="text-white py-[38px] flex items-center justify-between space-x-8">
		<a href="/">
			<img width="160px" height="34px" src="/images/logos/full-dark.png" alt="logo" />
		</a>

		<div
			class="hidden xl:flex xl:items-center xl:space-x-[40px] text-xsmall lg:text-small font-bold"
		>
			<div class="flex items-center space-x-[40px]">
				<Links />
			</div>

			<a href="https://coinmarketcap.com/currencies/thorchain/" target="_blank" rel="noopener noreferrer">
				<button
					class:invisible={!runePrice}
					class="price-button font-bold px-3 h-[44px] bg-[#1C2731] rounded-[10px] hover:scale-105 transform transition duration-250 flex items-center justify-center space-x-1"
				>
					<span>${formattedRunePrice}</span>
					<img src="/images/coins/rune-logo.svg" alt="RUNE" class="w-5 h-5" />
				</button>
			</a>
		</div>

		<div class="flex space-x-[25px] items-center text-white">
			
			<a href="https://docs.thorchain.org" target="_blank" rel="noopener noreferrer">
				<Gitbook class="w-5 h-5 hover:text-green hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://gitlab.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Gitlab class="w-5 h-5 hover:text-green hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Medium class="w-5 h-5 hover:text-green hover:scale-105 transform transition duration-250" />
			</a>
			<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
				<Telegram class="w-5 h-5 hover:text-green hover:scale-105 transform transition duration-250" />
			</a>

			<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Twitter class="w-5 h-5 hover:text-green hover:scale-105 transform transition duration-250" />
			</a>
		</div>
	</div>
</div>
