<script lang="ts">
	import DesktopHeader from './DesktopHeader.svelte';
	import MobileHeader from './MobileHeader.svelte';
	import StatusBanner from '$lib/components/StatusBanner/StatusBanner.svelte';
</script>
<DesktopHeader />
<MobileHeader />
<StatusBanner />
