<script lang="ts">
	import { fade } from 'svelte/transition';

	import Close from '$lib/icons/Close.svelte';
	import Gitlab from '$lib/icons/Gitlab.svelte';
	import Medium from '$lib/icons/Medium.svelte';
	import Mobile from '$lib/icons/Mobile.svelte';
	import Telegram from '$lib/icons/Telegram.svelte';
	import Twitter from '$lib/icons/Twitter.svelte';
	import Links from '$lib/components/Header/Links.svelte';
	import Gitbook from '$lib/icons/Gitbook.svelte';

	import { useRunePrice } from '$lib/services/queries';
	import { formatNumber, formatNumberTwoDecimal } from '$lib/services/helpers';

	let menuOpen = false;

	const runePriceQuery = useRunePrice();
	$: runePrice = $runePriceQuery.data;
	$: formattedRunePrice = runePrice ? formatNumberTwoDecimal(runePrice) : '0.00';

	const openMenu = () => {
		enableBodyScroll();
		menuOpen = true;
	};

	const closeMenu = () => {
		menuOpen = false;
		disableBodyScroll();
	};

	const enableBodyScroll = () => {
		document.body.classList.add('overflow-hidden');
	};

	const disableBodyScroll = () => {
		document.body.classList.remove('overflow-hidden');
	};
</script>

<style>
	.price-button {
		position: relative;
		transition: transform 0.3s ease-in-out;
	}

	.price-button::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		background: #31FD9D;
		border-radius: 10px;
		z-index: -1;
		opacity: 1;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 2px;
		transition: background 0.3s ease-in-out;
	}

	.price-button:hover::before {
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		animation: gradientBorder 8s ease infinite;
	}

	@keyframes gradientBorder {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>

<div class="xl:hidden flex flex-col z-10">
	<div class="container mx-auto px-4">
		<div class="text-white py-[15px] flex items-center justify-between">
			<a on:click={closeMenu} href="/">
				<img width="140px" height="30px" src="/images/logos/full-dark.png" alt="logo" />
			</a>

			<div class="flex items-center space-x-4">
				<a href="https://coinmarketcap.com/currencies/thorchain/" target="_blank" rel="noopener noreferrer">
					<button
						class:invisible={!runePrice}
						class="price-button font-bold px-3 h-[44px] bg-[#1C2731] rounded-[10px] hover:scale-105 transform transition duration-250 flex items-center justify-center space-x-1"
					>
						<span>${formattedRunePrice}</span>
						<img src="/images/coins/rune-logo.svg" alt="RUNE" class="w-5 h-5" />
					</button>
				</a>

				{#if menuOpen}
					<div on:click={closeMenu}>
						<Close class="w-6 h-6" />
					</div>
				{:else}
					<div on:click={openMenu}>
						<Mobile class="w-6 h-6" />
					</div>
				{/if}
			</div>
		</div>
	</div>

	{#if menuOpen}
		<div
			in:fade={{ duration: 300 }}
			out:fade={{ duration: 150 }}
			class="absolute z-50 flex flex-1 flex-col left-0 right-0 top-0 h-screen pointer-events-none"
		>
			<div
				class="bg-black mt-[60px] flex flex-col flex-1 items-center pb-[80px] pt-[40px] px-[20px] space-y-[100px] font-extrabold text-text-primary select-none pointer-events-none"
			>
				<div
					class="flex flex-col space-y-[50px] flex-1 justify-center text-center text-m-h4 pointer-events-auto"
				>
					<Links on:linkpress={closeMenu} />
				</div>

				<div class="flex items-center space-x-[35px] pointer-events-auto">
					<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
						<Medium class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
					<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
						<Telegram class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
					<a href="https://docs.thorchain.org" target="_blank" rel="noopener noreferrer">
						<Gitbook class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
					<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
						<Twitter class="w-7 h-7 hover:text-green hover:scale-105 transform transition duration-250" />
					</a>
				</div>
			</div>
		</div>
	{/if}
</div>
