<script lang="ts">
    import Section from '$lib/components/Section/Section.svelte';
    import Card from '../Card/Card.svelte';
    import CardTitle from '../Card/CardTitle.svelte';
    import CardDescription from '../Card/CardDescription.svelte';
    import SectionDescription from '../Section/SectionDescription.svelte';
    import SectionTitle from '../Section/SectionTitle.svelte';
    import { slide } from 'svelte/transition';

    let expandedRows: Record<number, boolean> = {};

    function getRowNumber(index: number) {
        return Math.floor(index / 4);
    }

    function toggleRow(index: number) {
        const rowNumber = getRowNumber(index);
        expandedRows[rowNumber] = !expandedRows[rowNumber];
    }
</script>

<style>
.card-hover-effect {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.card-hover-effect:hover {
    /* No animation here */
}

@keyframes bellShake {
    0%, 100% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(3deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(1deg);
    }
    85% {
        transform: rotate(-1deg);
    }
}

.card-hover-effect::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #00CCBB, #3399FF, #00CCBB, #3399FF);
    background-size: 400% 400%;
    border-radius: 0.5rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: gradientBorder 3s ease infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 2px;
}

.card-hover-effect:hover::before {
    opacity: 1;
}

.icon {
    transition: transform 0.3s ease-in-out;
}

.card-hover-effect:hover .icon {
    animation: bellShake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.expand-arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.2s ease;
}

.expand-arrow.expanded {
    transform: rotate(180deg);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

.card-grid > * {
    height: 100%;
}

:global(.card-grid .card-hover-effect .flex) {
    height: 100%;
}
</style>

<Section>
    <SectionTitle>Trust Minimized Infrastructure</SectionTitle>
    <SectionDescription>
        THORChain was designed from first principles to minimize trust and become a scalable, economically secure cross-chain communication and settlement layer.
        Dozens of exchanges rely on THORChain to process swaps for their users & more.
    </SectionDescription>

    <div class="card-grid text-white mt-[30px] md:mt-[40px] self-center">
        {#each Array(7) as _, index}
            <!-- svelte-ignore a11y-click-events-have-key-events -->
            <div on:click={() => toggleRow(index)} class="card-hover-effect relative h-full">
                <Card class="h-full flex flex-col">
                    <svg 
                        class={`expand-arrow w-4 h-4 transform transition-transform ${expandedRows[getRowNumber(index)] ? 'expanded' : ''}`}
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path d="M19 9l-7 7-7-7" />
                    </svg>

                    {#if index === 0}
                        <img class="icon" width="50px" height="50px" src="/images/icons/blockchain.png" alt="swap" />
                        <CardTitle>Native Asset Swaps</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    Swap cross-chain without the risks of bridges or wrapped assets
                                </CardDescription>
                            </div>
                        {/if}
                    {:else if index === 1}
                        <img class="icon" width="50px" height="50px" src="/images/icons/time-is-money.png" alt="liquidity" />
                        <CardTitle>Streaming Swaps</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    Automatically break up large swaps into sub-swaps executed over time for better price execution
                                </CardDescription>
                            </div>
                        {/if}
                    {:else if index === 2}
                        <img class="icon" width="50px" height="50px" src="/images/icons/scales.png" alt="liquidity" />
                        <CardTitle>Dual Liquidity</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    Deposit RUNE and another asset and become a dual liquidity provider
                                </CardDescription>
                            </div>
                        {/if}
                    {:else if index === 3}
                        <img class="icon" width="50px" height="50px" src="/images/icons/analytics.png" alt="savers" />
                        <CardTitle>Savers Vaults</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    Deposit a Layer 1 asset only and earn single-sided yield
                                </CardDescription>
                            </div>
                        {/if}
                    {:else if index === 4}
                        <img class="icon" width="50px" height="50px" src="/images/icons/filter.png" alt="aggregation" />
                        <CardTitle>DEX Aggregation</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    THORChain can swap to or from another DEX with one user transaction - linking multiple liquidity sources & improving price execution
                                </CardDescription>
                            </div>
                        {/if}
                    {:else if index === 5}
                        <img class="icon" width="50px" height="50px" src="/images/icons/blockchain2.png" alt="aggregation" />
                        <CardTitle>Smart Contracts</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    Deploy smart contracts that utilize native assets secured by THORChain. Made possible by the THORChain App Layer.
                                </CardDescription>
                            </div>
                        {/if}
                    {:else if index === 6}
                        <img class="icon" width="50px" height="50px" src="/images/icons/bitcoin.png" alt="aggregation" />
                        <CardTitle>Secured Assets</CardTitle>
                        {#if expandedRows[getRowNumber(index)]}
                            <div in:slide={{ duration: 500 }} out:slide={{ duration: 500 }}>
                                <CardDescription>
                                    Secured Assets mirror the price of a Layer 1 asset, but trade at the speed and finality of THORChain. Backed 1:1 by native assets secured by the network.
                                </CardDescription>
                            </div>
                        {/if}
                    {/if}
                </Card>
            </div>
        {/each}
    </div>
</Section>
