<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';
    import SectionDescription from '$lib/components/Section/SectionDescription.svelte';

    let integrations = [
        { title: "Ledger", href: "https://www.ledger.com/ledger-live", logo: "/images/integrated/ledger.svg" },
        { title: "Trust Wallet", href: "https://trustwallet.com", logo: "/images/integrated/trust.svg" },
        { title: "OKX", href: "https://www.okx.com/web3", logo: "/images/integrated/okxwallet.png" },
        { title: "Bitget", href: "https://web3.bitget.com/", logo: "/images/integrated/bitget_logo.png" },
        { title: "THORSwap", href: "https://app.thorswap.finance/", logo: "/images/integrated/thorswap.png" },
        { title: "ShapeShift", href: "https://shapeshift.com", logo: "/images/integrated/shapeshift.png" },
        { title: "THORWallet", href: "https://thorwallet.org", logo: "/images/integrated/thorwallet.png" },
        { title: "Li.Fi", href: "https://li.fi", logo: "/images/integrated/lifi.svg" },
        { title: "Zengo", href: "https://zengo.com/", logo: "/images/integrated/zengo.svg" },
        { title: "Cake Wallet", href: "https://cakewallet.com", logo: "/images/integrated/cakewallet.png" },
        { title: "Jumper", href: "https://jumper.exchange", logo: "/images/integrated/jumper.png" },
        { title: "CTRL", href: "https://ctrl.xyz", logo: "/images/integrated/CTRL.svg" },
        { title: "Asgardex", href: "https://asgardex.com", logo: "/images/integrated/asgardex.svg" },
        { title: "Vultisig", href: "https://vultisig.com", logo: "/images/integrated/vultisig.png" },
        { title: "Rango", href: "https://rango.exchange", logo: "/images/integrated/rango.png" },
        { title: "TokenPocket", href: "https://www.tokenpocket.pro", logo: "/images/integrated/tokenpocket.png" },
        { title: "Symbiosis", href: "https://symbiosis.finance/", logo: "/images/integrated/symbiosis.svg" },
        { title: "Keplr", href: "https://www.keplr.app/", logo: "/images/integrated/keplr.svg" },
        { title: "Unizen", href: "https://unizen.io", logo: "/images/integrated/unizen.png" },
        { title: "Edge", href: "https://edge.app", logo: "/images/integrated/edge.png" },
        { title: "OpenOcean", href: "https://openocean.finance/", logo: "/images/integrated/openocean.svg" },
    //    { title: "SwapKit", href: "https://swapkit.dev", logo: "/images/integrated/SwapKit.png" },
    ];
</script>

<Section>
    <SectionHeader>Providing Native Asset Infrastructure</SectionHeader>
    <SectionTitle>Built With THORChain</SectionTitle>
        <SectionDescription>
        The top wallets and exchanges use THORChain as a noncustodial cross-chain swap provider
    </SectionDescription>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px] max-w-full mx-auto">
        {#each integrations as {title, href, logo}}
            <div class="integration-card flex-1 content-center p-2 hover:scale-110 transform transition duration-500 rounded-lg shadow hover:shadow-lg relative" style="background-color: rgba(44, 190, 140, 0.075);">
                <a href={href} class="flex items-center justify-center h-[48px]">
                    <img 
                        src={logo} 
                        alt="{title} logo" 
                        class="object-contain h-full w-auto max-w-[75%] mx-auto" 
                    />
                </a>
            </div>
        {/each}
    </div>
</Section>

<style>
    .integration-card {
        position: relative;
    }

    .integration-card::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
        background-size: 400% 400%;
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
        animation: gradientBorder 8s ease infinite;
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 2px;
        transition: opacity 0.3s ease-in-out;
    }

    .integration-card:hover::before {
        opacity: 1;
    }

    @keyframes gradientBorder {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>


