<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Savers</SectionHeader>
	<SectionTitle>Earn with THORChain Savers</SectionTitle>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card class="col-span-1">
			<CardTitle size="large" class="mt-0">Transparent Yields</CardTitle>
			<CardDescription>
				Savers earn yield from every swap. Every block, a portion of the fees generated from swaps are distributed to Savers. The amount of yield given to Savers varies with the distribution of liquidity between Savers and Dual LP.
			</CardDescription>
		</Card>
		<Card class="col-span-1">
			<CardTitle size="large" class="mt-0">Low Risk Liquidity</CardTitle>
			<CardDescription>
				No impermanent loss or RUNE price exposure. Savers are built using synthetic assets and backed by the liquidity pools. Savers are the most risk-averse way to provide liquidity to THORChain.
			</CardDescription>
		</Card>
		<Card class="col-span-1">
			<CardTitle size="large" class="mt-0">Withdraw Anytime</CardTitle>
			<CardDescription>
				THORChain is permissionless to deposit and withdraw. Only your key can be used to move your funds. Savers can withdraw their position to native
				assets at any time.
			</CardDescription>
		</Card>
	</div>
</Section>
