<script lang="ts">
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	
	import Section from '$lib/components/Section/Section.svelte';
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	import Button from '$lib/components/Button/Button.svelte';

	const swiperValues = ['Access Liquidity', 'Offer Swaps', 'Support Bitcoin', 'Integrate Savers', 'Go Cross-Chain' ];
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.jpg"
			videoSrc="/videos/home-hero.mp4"
		/>

		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
			<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
				<Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
					{#each swiperValues as value}
						<SwiperSlide class="text-text-primary pb-2 lg:pb-0">
							{value}
						</SwiperSlide>
					{/each}
				</Swiper><span class="text-green">Power Your App.</span> <br /> 
			</h1>
			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				Any wallet or exchange can utilize THORChain to provide access to the most in-demand cross-chain swap routes to their users. Offer users single-sided yield on their assets, including Bitcoin. Create new revenue streams for your team through affiliate fees.
			</p>
			<div
			class="flex flex-col sm:flex-row sm:space-x-[20px] space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start"
		>
			<a
				href="https://dev.thorchain.org/"
				target="_blank"
				rel="noopener noreferrer"
			>
			<Button class="justify-center px-[70px] py-[15px] w-full" gradient>Quickstart Guide</Button>
			</a>

			<a
			href="https://xchainjs.org/"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Button class="justify-center px-[70px] py-[15px] w-full">XChainJS</Button>
		</a>

		<a
		href="https://swapkit.dev/"
		target="_blank"
		rel="noopener noreferrer"
	>
		<Button class="justify-center px-[70px] py-[15px] w-full">SwapKit API+SDK</Button>
	</a>
		</div>
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/home-hero-poster.jpg"
			videoSrc="/videos/home-hero.mp4"
		/>
	</div>
</Section>
