<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import { useSwapTableData } from '$lib/services/queries';
	import AssetCard from '../AssetCard/AssetCard.svelte';
	import { slide } from 'svelte/transition';

	const swapTableQuery = useSwapTableData();
	let isExpanded = false;

	$: tableData = $swapTableQuery.data;
	$: visibleData = tableData ? (isExpanded ? tableData : tableData.slice(0, 2)) : [];
</script>

<Section>
	{#if tableData}
		<div class="grid grid-cols-1 space-y-[30px]">
			{#each visibleData as data (data.name)}
				<div transition:slide|local={{ duration: 300 }}>
					<AssetCard	
						category={data.chain}
						categoryClass={data.color}
						title={data.name}
						priceUSD={data.priceUSD}
						volume24h={data.volume24h}
						href={data.swapURL}
						icon={data.icon}
					/>
				</div>
			{/each}
			
			{#if tableData.length > 2}
				<button 
					class="flex items-center justify-center w-12 h-12 mx-auto rounded-full border-2 border-text-primary hover:border-primary hover:text-primary text-text-primary transition-all duration-300"
					on:click={() => isExpanded = !isExpanded}
					aria-label={isExpanded ? 'Show less' : 'Show more'}
				>
					<svg 
						class="w-6 h-6 transform transition-transform duration-300 {isExpanded ? 'rotate-180' : ''}" 
						fill="none" 
						stroke="currentColor" 
						viewBox="0 0 24 24"
					>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
					</svg>
				</button>
			{/if}
		</div>
	{/if}
</Section>
