<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
	import { appsAndServices } from '$lib/services/constants';

	// Filter services that have both "RUNE" and "Wallet" tags
	const walletServices = appsAndServices.filter(service => 
		service.tags.includes('RUNE') && service.tags.includes('Wallet')
	);
</script>

<style>
	.image-container {
		height: 48px;
		width: auto;
		min-width: 48px;
		max-width: 120px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.logo-image {
		height: 100%;
		width: auto;
		object-fit: contain;
		transition: transform 0.2s ease;
	}

	.header-section {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		gap: 16px;
		padding-right: 40px;
	}

	.title-section {
		flex: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		min-width: 0;
		overflow: hidden;
	}

	.title-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
	}

	.card-hover {
		position: relative;
		background: linear-gradient(180deg, rgba(26, 26, 26, 0.9) 0%, rgba(20, 20, 20, 0.95) 100%);
		border: 1px solid rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(10px);
		border-radius: 16px;
		padding: 24px;
	}

	.link-button {
		position: absolute;
		top: 24px;
		right: 24px;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.05);
		border: 1px solid rgba(255, 255, 255, 0.1);
		transition: all 0.2s ease;
	}

	.link-button:hover {
		background: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.2);
		transform: translateY(-1px);
	}

	.link-icon {
		width: 16px;
		height: 16px;
		color: rgba(255, 255, 255, 0.9);
	}

	.card-hover:hover {
		border-color: rgba(255, 255, 255, 0.15);
		transform: translateY(-2px);
		box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	}

	.tag-pill {
		display: inline-block;
		padding: 4px 12px;
		border-radius: 12px;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.3px;
		transition: all 0.2s ease;
		color: rgba(255, 255, 255, 0.9);
		background: rgba(255, 255, 255, 0.05);
		border-width: 1px;
		border-style: solid;
	}

	.rune-tag {
		position: relative;
		border: none;
	}

	.rune-tag::before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		background: linear-gradient(45deg, #03CFFA, #31FD9D, #03CFFA, #31FD9D);
		background-size: 400% 400%;
		border-radius: 12px;
		z-index: -1;
		animation: gradientBorder 8s ease infinite;
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		padding: 1px;
	}

	@keyframes gradientBorder {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 24px;
	}

	@media (min-width: 1280px) {
		.card-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>

<Section>
	<SectionHeader>Wallets</SectionHeader>
	<SectionTitle>Wallets with RUNE Support</SectionTitle>
	<SectionDescription>
		Self-custody wallets that support native THORChain assets
	</SectionDescription>

	<div class="card-grid mt-8">
		{#each walletServices as service}
			<div class="card-hover transition-all duration-200">
				<a 
					href={service.url} 
					target="_blank" 
					rel="noopener noreferrer"
					class="link-button"
				>
					<svg 
						class="link-icon" 
						viewBox="0 0 24 24" 
						fill="none" 
						stroke="currentColor" 
						stroke-width="2" 
						stroke-linecap="round" 
						stroke-linejoin="round"
					>
						<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
						<polyline points="15 3 21 3 21 9" />
						<line x1="10" y1="14" x2="21" y2="3" />
					</svg>
				</a>

				<div class="flex flex-col h-full">
					<div class="header-section">
						<div class="image-container">
							<img class="logo-image" src={service.logo} alt={service.title} />
						</div>
						<div class="title-section">
							<h3 class="text-xl font-bold text-white title-text">{service.title}</h3>
						</div>
					</div>
					
					<div class="flex flex-wrap gap-2 mb-4">
						{#each service.tags as tag}
							<span class="tag-pill {tag === 'RUNE' ? 'rune-tag' : ''} border-[#7B3FE4] hover:border-[#7B3FE4]/80">{tag}</span>
						{/each}
					</div>

					<p class="text-[#9CA3AF] text-sm leading-relaxed">
						{service.description}
					</p>
				</div>
			</div>
		{/each}
	</div>
</Section>
