<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';
    import SectionDescription from '../Section/SectionDescription.svelte';
</script>

<Section>
	<SectionHeader>Community Updates</SectionHeader>
	<SectionTitle>Live Podcasts</SectionTitle>
    <SectionDescription>Live podcasts held semi-weekly by the community on 𝕏 Spaces. Subscribe on Apple Podcasts, Spotify, or wherever you get your podcasts.</SectionDescription>
<br>
	<!-- Embed RSS feed -->
	<div class="rss-feed-container">
		<iframe src="https://player.rss.com/thorchain/?theme=dark" title="THORChain Weekly Live" style="width:100%; height:358px;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen scrolling="yes"></iframe>
	</div>
</Section>

<style>
	.rss-feed-container {
		max-width: 100%;
		overflow: hidden;
		position: relative;
        border-radius: 20px;
        height: auto; /* Example fixed height */
	}
	iframe {
		width: 100%;
	}
</style>
