<script lang="ts">
	import LinkCard from '$lib/components/LinkCard/LinkCard.svelte';

	import Section from '$lib/components/Section/Section.svelte';
</script>

<Section>
	<div class="grid grid-cols-1 xl:grid-cols-3 gap-[15px] md:gap-[30px] text-white">
		<LinkCard
			category="Blog"
			categoryClass="text-green"
			title="THORChain Medium"
			description="Get the latest updates and news about THORChain."
			buttonText="Go to Blog"
			href="https://medium.com/thorchain"
		/>

		<LinkCard
			category="Discord"
			categoryClass="text-light-blue"
			title="THORChain University"
			description="Learn how to use THORChain to trade or earn yield through TC University with one-on-one
		support and guides."
			buttonText="Go to Discord"
			href="https://discord.gg/c4EhDZdFMA"
		/>

		<LinkCard
			category="Documentation"
			categoryClass="text-purple"
			title="THORChain Documentation"
			description="Read about the protocol in more depth by visiting the THORChain documentation."
			buttonText="Go to Documentation"
			href="https://docs.thorchain.org/"
		/>
	</div>
</Section>
