<script>
	import { onMount } from 'svelte';

	let message = '';

	const messages = [];

	const processResponse = (data) => {
		const validChains = ['BTC', 'ETH', 'BNB', 'BCH', 'LTC', 'AVAX', 'GAIA', 'DOGE'];

		for (const key in data) {
			if (parseInt(data[key], 10) >= 1) {
				if (key === 'HALTRADING') continue;

				if (key.startsWith('HALT') || key.startsWith('PAUSE')) {
					const prefix = key.slice(0, 4);
					const suffix = key.endsWith('SIGNING')
						? 'SIGNING'
						: key.endsWith('LP')
						? 'LP'
						: key.endsWith('TRADING')
						? 'TRADING'
						: 'CHAIN';
					const chain = key.slice(4, -suffix.length);

					if (chain === '' || validChains.includes(chain)) {
						if (prefix === 'HALT' && suffix === 'SIGNING') {
							if (key === 'HALTSIGNING') {
								messages.push('Outbound fund signing is paused.');
							} else {
								messages.push(`${chain} outbound fund signing is paused.`);
							}
						} else if (prefix === 'PAUSE' && suffix === 'LP') {
							messages.push(`${chain} LP Actions are temporarily paused.`);
						} else if (prefix === 'HALT' && suffix === 'TRADING') {
							if (key === 'HALTTRADING') {
								messages.push('Trading is temporarily paused.');
							} else {
								messages.push(`${chain} trading is temporarily paused.`);
							}
						} else if (prefix === 'HALT' && suffix === 'CHAIN') {
							if (key === 'HALTTHORCHAIN') {
								messages.push('THORChain is temporarily paused.');
							} else {
								messages.push(`${chain} chain is temporarily paused.`);
							}
						}
					}
				}
			}
		}
	};

	const loadData = async () => {
		try {
			const response = await fetch('https://thornode.ninerealms.com/thorchain/mimir');
			const data = await response.json();
			processResponse(data);
		} catch (error) {
			console.error('Failed to fetch data:', error);
		}
	};

	onMount(() => {
		loadData().then(() => {
			if (messages.length) {
				message = messages.join(' & ');
			}
		});
	});
</script>

<div class="banner">
	{message}
</div>

<style>
	.banner {
		position: static;
		width: 100%;
		background-color: #2cbe8c;
		color: #000;
		text-align: center;
		padding: 0px 0;
		font-size: 14px;
		z-index: 1000;
	}
</style>
